python-dotenv==1.0.0
beautifulsoup4==4.11.1
PyTumblr==0.1.2
flask==2.2.3
flask-sqlalchemy==3.0.3
flask-login==0.6.2
werkzeug==2.3.6
pillow==9.5.0
opencv-python==4.7.0.72
ordered-set==4.1.0
Flask-Migrate==4.0.4
