{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="column is-4 is-offset-4">
  <div class="box">
    {% for message in messages %}
    <div class="notification is-danger">
        {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endwith %}
{% for column in posts %}
<div class="column is-8 is-offset-2">
  <div class="columns is-centered is-desktop">
    {% for post in column %}
    <div class="column">
      <div class="box">
        <div class="columns is-desktop is-multiline">
          <div class="column {{ '' if column|length == 1 else 'is-full' }}">
            <a href="/post?ts={{ post.timestamp }}">
              <img src="{{ get_thumbnail(post.timestamp|string) }}">
            </a>
          </div>
          <div class="column">
            <p>{{ post.timestamp }}</p>
            <p>{{ post.source }}</p>
            <p>{{ post.tags }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
