{% extends "base.html" %}

{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      const e = event || window.event;

      if (e.keyCode === 27) { // Escape key
        closeAllModals();
      }
    });
  });
</script>

<div class="column is-8 is-offset-2 is-6-desktop is-offset-3-desktop is-4-widescreen is-offset-4-widescreen">
  {% if current_user.admin %}
  <div class="box">
    <h1 class="title">Website Settings</h1>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="notification is-danger">
          {{ message }}
      </div>
    {% endfor %}
    {% endwith %}
    <form method="POST" action="{{ url_for('main.settings_post') }}">
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="allow_signups" {% if allow_signups %} checked {% endif %}>
            Allow new signups
          </label>
        </div>
      </div>
      <div class="field">
        <label class="label">App Name</label>
        <div class="control">
          <input class="input" type="text" name="app_name" placeholder="App Name" value="{{ app_name }}">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-fullwidth is-link">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box">
    <h1 class="title">User Management</h1>
    <p>// TODO: implement all user settings</p>
  </div>
  {% endif %}
  <div class="box">
    <h1 class="title">User Settings</h1>
    <form method="POST" action="{{ url_for('main.user_settings_post') }}">
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" name="username" value="{{ current_user.username }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Password (leave empty to keep current password)</label>
        <div class="control">
          <input class="input" type="password" name="password" autocomplete="new-password">
        </div>
      </div>

      <div class="columns is-mobile">
        {% if not current_user.admin %}
        <div class="column">
          <button class="button is-danger is-fullwidth modal-trigger" data-target="delete-modal" type="button">
            <span>Delete Account</span>
          </button>
        </div>
        {% endif %}
        <div class="column">
          <button class="button is-fullwidth is-link">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box">
    <h1 class="title">Fun Stats!</h1>
    <p>Number of posts: {{ stats["posts"] }}</p>
    <p>Number of tags: {{ stats["tags"] }}</p>
    <p>Space consumed: {{ stats["space"] }}</p>
  </div>
</div>

<div id="delete-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Are you sure?</p>
    </header>

    <section class="modal-card-body">
      <p>You're about to delete your account!</p>
    </section>

    <div class="modal-card-foot">
      <form method="POST" action="/delete_own_account">
        <button class="button">Yes</a>
        <button class="button is-info" type="button">No</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
