{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <div class="box">
    <h1 class="title">Settings</h1>
    <form method="POST" action="{{ url_for('main.settings_post') }}">
      <label class="checkbox">
        <input type="checkbox" name="allow_signups" {% if allow_signups %} checked {% endif %}>
        Allow new signups
      </label>
      <div class="field">
        <label class="label">App Name</label>
        <div class="control">
          <input class="input" type="text" name="app_name" placeholder="App Name" value="{{ app_name }}">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-fullwidth is-link">
            <strong>Save</strong>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
