{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2 is-6-desktop is-offset-3-desktop is-4-widescreen is-offset-4-widescreen">
  <div class="box">
    <h1 class="title">Sign Up</h1>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="notification is-danger">
          {{ message }}
      </div>
    {% endfor %}
    {% endwith %}
    <form method="POST" action="{{ url_for('auth.signup_post') }}">
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="username" placeholder="Username">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input" type="password" name="password" placeholder="Password">
        </div>
      </div>

      <button class="button is-fullwidth is-link">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}
